
html,body {
    background: linear-gradient(#dddddd, #9198e5) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* figured out proper background sizing c/o https://css-tricks.com/perfect-full-page-background-image/#top-of-site*/
    z-index: -2;
 }
 

body {
    font-family: 'Work Sans', sans-serif;
    color: rgb(41, 65, 222);
    padding:20px;
    /*so ppl on iphones can actually tap links */
    
}



a {
    text-decoration: none;
    color: inherit;
}

/* ===============HEADER============== */



.header {
    width:100%;
    /* min-width: 565px; */
    margin:0 auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 4rem;
    
    color: rgb(41, 65, 222);
}


/* ===============HOME PAGE SPECIFIC============= */



/* ==============CONTENT================ */
.content{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 2em;
}

@media (max-width: 970px) {
    .content {
        margin-bottom: 2em;
    }
}
/* ===============PAGES UL============= */

ul.pages {
    margin-top: 1em;
    list-style-type: none;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    /* display: inline; */
}

li.pages {
    /* display: inline; */
    margin: 0 .5em;
    text-decoration: underline;
    
}

/* 
div.secretbutton {
    height: 10%;
    width:100%
} */

/* ==============carousel============== */

.carousel-container {
    width: 100%;
    /* height: 700px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.carousel-images {
    margin-top: 4em;
    width:80%;
    justify-content: center;
}
.carousel-images img {
    width: 80%;
    max-width: 550px;
    border-radius: 10px;
    margin: 0 auto;
    align-self: center;
    padding: none;
    display:none;

}
.carousel-button {
    align-self: center;
}
.carousel-button:hover {
    color: rgb(155, 149, 149)
}
.carousel-images img:first-of-type {
    display: block;
}

h4 {
    font-size: 2rem;
    text-align: center;
    margin: 1em 0 2em 0;
    min-width:325px;
    
}
li.mobile {
    font-size: rem;
}

/*-------BUTTON -------------*/

.secretbutton {
    background-color: transparent;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: rgb(41, 65, 222);
    
}
.secretbutton:hover,
.secretbutton:active {
    background-color: transparent;

    color:goldenrod
}

/* ---------MEDIA QUERIES-------- */
@media (max-width: 530px) {
    .header {
        font-size: 2.5rem;
    }
    li.pages {
        text-align: left;
        font-size:1rem;
    }
}

@media screen and (min-width: 1000px){
    .home-flex-container {
        display: flex;
        flex-direction: row;
        
    }   
    .home-nav {
        flex: 0 .5 350px
    }

    .big-carousel-container {
        flex: 1;
       
    }
    ul.pages {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    li.pages {
        text-align: left;
        font-size:2rem;
    }
    li.mobile {
        font-size: 2rem;
    }
    .carousel-images {
        margin-top: 2em;
    }
}
@media screen and (min-width: 1250px) { 
    
    .carousel-container {
        /* width:90%; */
        margin: 3rem auto;
        align-self: center;
        justify-content: center;
    }
    .big-carousel-container{
        justify-content: center;
    }
    .home-nav {
        flex: 0 .5 450px;
        margin: 0 0 0 15px;
    }
    li.pages {
        padding-bottom: 5px;
        font-size:2.5rem;
    }
       
}  
@media screen and (min-width: 1460px) { 
    .carousel-container {
        width:80%;
    }
}
@media screen and (min-width: 1700px) { 
    .carousel-container {
        width:70%;
    }
}

/*=============END HOME PAGE SPECIFIC =========*/


/*============BIO SPECIFIC===========*/

.biobody {
    margin: 0 auto 2em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.bioimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 695px;
}
.biotext {
    max-width: 700px;
    margin: 0 auto;
}

/*-------BIO PICTURE------*/

 img#fit {
    width: 80%;
    max-height: 400px;
    border-radius: 6%;
    margin: 0 auto 5px auto;
    object-fit:contain;
    /* min-width: 4em;
    min-height: 4em; */
}

/*-------END BIO PICTURE------*/


/*------SPRITE--------*/
.sprite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 1em auto 5px auto;
}
.sprite-image {
    height:90px;
    width:90px;
    min-height:90px;
    min-width:90px;
    max-height:90px;
    max-width:90px;
    background: url("images/butterflysprite.png") ;
    animation-name: sprite;
    animation-duration: 2s;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

@keyframes sprite {
    from {background-position: 0px;}
    to   {background-position: -1000px;}
}

/*------END SPRITE--------*/

@media (min-width: 500px) {
    .biobody h3 {
        font-size: 2em;
    }
    .biobody p {
        font-size: 1.25em;
    }
}
@media (min-width: 1000px) {
    .biobody h3 {
        font-size: 3em;
    }
    .biobody p {
        font-size: 2em;
    }
}

/*============END BIO SPECIFIC===========*/


/*============RESUME  SPECIFIC===========*/
#resume-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
    
}





#resume-list li {
    font-size: 4rem;
    margin: 2em 0em 0em 0em;
    
}
#resume-item1 {
    width: 100%;
    height: 2em;
}

#resume-item2 {
    width: 100%;
    height: 2em;
}

#resume-item3 {
    width: 100%;
    height: 2em;
}

#resume-item4 {
    width: 100%;
    height: 2em;
}

#resume-item5 {
    width: 100%;
    height: 2em;
    margin-bottom: 3em;
}



/*============ END RESUME  SPECIFIC===========*/



/* =========CODE PROJECT SPECIFIC=========== */

.code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1250px;
}
.codeimage {
    margin: 1em auto;
    width: 85%;
    border-radius: 3%;
    max-width: 400px;
}
.hover-text {
    margin: 1em auto;
    width: 85%;
    max-width: 400px;
}
.hover-text h4 {
    text-align: left;
    margin: 0 auto 1em auto;  
}

.hover-text {
    display: none;
}

/*-------MODAL---------*/
/* modal styling based off of modal exercise from class*/
#modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    background: linear-gradient(rgb(1, 66, 82), rgb(98, 2, 122));
    color: rgb(212, 232, 247);
    width: 80%;
    padding: 20px;
    max-height: 300px;
    max-width: 450px;
    border-radius: 3px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}
#close {
    text-decoration: underline;
}
/*-------END MODAL---------*/

@media (min-width: 542px) {
    .codeimage, .hover-text {
        width: 80%;
        
    }
}
@media (min-width: 640px) {
    .codeimage, .hover-text {
        width: 70%;
        
    }
    .code-container {
        /* margin-top: 1em; */
        width: 80%;
        margin: 1em auto 0  auto;
    }
}
@media (min-width: 640px) {
    .codeimage, .hover-text {
        width: 45%;
        
        padding: 10px;
        flex: 1 1 auto;
        
    }
    .code-container {
        flex-direction: row;
        justify-content: space-between;
        /* max-height: 900px; */
        margin-bottom: 2em;
       
    }

}
/* =========END CODE PROJECT SPECIFIC=========== */


/* ==========FOOTER============ */
footer {
    margin: 0 auto;
    border-top: 1px solid black;
    display:flex;
    flex-direction: row;
    width: 100%;
    height:100%;
    justify-content:center;
    /* min-width: none; */

}
ul.links {
    /* margin: 10 auto; */
    width: 100%;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content:space-around
}
.links li {
    display: inline-block;
    margin-right: 10px;
}

/* ==============NAV BAR============= */


/* why is the nac ul pushed to the right?? */
div.navbar {
    width: 100%;
    min-height: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #e66465;
    
}
ul.navbar {
    width: 100%;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: underline;
    flex-wrap: wrap;
    
}
.navbar li {
    /* display: inline-block; */
    padding: 1em;
    
}
@media (max-width:528px) {
    ul.navbar {
        
        font-size: 1.25rem;
    }
}
@media (max-width:461px) {
    ul.navbar {
        
        font-size: 1.0rem;
    }
}

